/*================================================
Solution CSS
=================================================*/
.feature-list {
	li {
		margin-bottom: 5px;
		font-size: 15px;
	}
}
.key-feature {
	transition: all 0.2s ease;
	.icon {
		height: 40px;
		width: 40px;
		line-height: 40px;
		background: lighten($primary, 45%);
		font-size: 24px;
	}

	&:hover {
		transform: scale(1.05);
	}
}
.key-feature .content {
	.title {
		font-size: 18px;
	}
}
