/*================================================
Style CSS
=================================================*/
/*================================================
Variables CSS
=================================================*/
@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,600,700&display=swap");
@font-face {
  font-family: BryantPro;
  src: url("../fonts/BryantPro-Medium.otf") format("opentype");
}

/*================================================
Custom Bootstrap CSS
=================================================*/
.bg-primary {
  background-color: #d81935 !important;
}

.text-primary {
  color: #d81935 !important;
}

.bg-secondary {
  background-color: #202943 !important;
}

.text-secondary {
  color: #202943 !important;
}

.bg-link {
  background-color: #8ea5b4 !important;
}

.text-link {
  color: #8ea5b4 !important;
}

.bg-success {
  background-color: #2eca8b !important;
}

.text-success {
  color: #2eca8b !important;
}

.bg-warning {
  background-color: #f17425 !important;
}

.text-warning {
  color: #f17425 !important;
}

.bg-info {
  background-color: #003153 !important;
}

.text-info {
  color: #003153 !important;
}

.bg-danger {
  background-color: #e43f52 !important;
}

.text-danger {
  color: #e43f52 !important;
}

.bg-dark {
  background-color: #202943 !important;
}

.text-dark {
  color: #202943 !important;
}

.bg-muted {
  background-color: #003153 !important;
}

.text-muted {
  color: #003153 !important;
}

.bg-light {
  background-color: #f8f9fc !important;
}

.text-light {
  color: #f8f9fc !important;
}

.list-inline-item:not(:last-child) {
  margin-right: 0px;
  margin-bottom: 5px;
}

.rounded {
  border-radius: 10px !important;
}

.rounded-top {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

.small,
small {
  font-size: 90%;
}

/*================================================
Components CSS (Shared Components)
=================================================*/
.btn-primary {
  background-color: #d81935 !important;
  border: 1px solid #d81935 !important;
  color: #ffffff !important;
  -webkit-box-shadow: 0 3px 5px 0 rgba(216, 25, 53, 0.3);
          box-shadow: 0 3px 5px 0 rgba(216, 25, 53, 0.3);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.focus {
  background-color: #aa142a !important;
  border-color: #aa142a !important;
  color: #ffffff !important;
}

.btn-secondary {
  background-color: #202943 !important;
  border: 1px solid #202943 !important;
  color: #ffffff !important;
  -webkit-box-shadow: 0 3px 5px 0 rgba(32, 41, 67, 0.3);
          box-shadow: 0 3px 5px 0 rgba(32, 41, 67, 0.3);
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .btn-secondary.focus {
  background-color: #101420 !important;
  border-color: #101420 !important;
  color: #ffffff !important;
}

.btn-link {
  background-color: #8ea5b4 !important;
  border: 1px solid #8ea5b4 !important;
  color: #ffffff !important;
  -webkit-box-shadow: 0 3px 5px 0 rgba(142, 165, 180, 0.3);
          box-shadow: 0 3px 5px 0 rgba(142, 165, 180, 0.3);
}

.btn-link:hover, .btn-link:focus, .btn-link:active, .btn-link.active, .btn-link.focus {
  background-color: #6f8da0 !important;
  border-color: #6f8da0 !important;
  color: #ffffff !important;
}

.btn-success {
  background-color: #2eca8b !important;
  border: 1px solid #2eca8b !important;
  color: #ffffff !important;
  -webkit-box-shadow: 0 3px 5px 0 rgba(46, 202, 139, 0.3);
          box-shadow: 0 3px 5px 0 rgba(46, 202, 139, 0.3);
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .btn-success.focus {
  background-color: #25a06e !important;
  border-color: #25a06e !important;
  color: #ffffff !important;
}

.btn-warning {
  background-color: #f17425 !important;
  border: 1px solid #f17425 !important;
  color: #ffffff !important;
  -webkit-box-shadow: 0 3px 5px 0 rgba(241, 116, 37, 0.3);
          box-shadow: 0 3px 5px 0 rgba(241, 116, 37, 0.3);
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .btn-warning.focus {
  background-color: #d55b0e !important;
  border-color: #d55b0e !important;
  color: #ffffff !important;
}

.btn-info {
  background-color: #003153 !important;
  border: 1px solid #003153 !important;
  color: #ffffff !important;
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 49, 83, 0.3);
          box-shadow: 0 3px 5px 0 rgba(0, 49, 83, 0.3);
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .btn-info.focus {
  background-color: #001320 !important;
  border-color: #001320 !important;
  color: #ffffff !important;
}

.btn-danger {
  background-color: #e43f52 !important;
  border: 1px solid #e43f52 !important;
  color: #ffffff !important;
  -webkit-box-shadow: 0 3px 5px 0 rgba(228, 63, 82, 0.3);
          box-shadow: 0 3px 5px 0 rgba(228, 63, 82, 0.3);
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .btn-danger.focus {
  background-color: #d21e32 !important;
  border-color: #d21e32 !important;
  color: #ffffff !important;
}

.btn-dark {
  background-color: #202943 !important;
  border: 1px solid #202943 !important;
  color: #ffffff !important;
  -webkit-box-shadow: 0 3px 5px 0 rgba(32, 41, 67, 0.3);
          box-shadow: 0 3px 5px 0 rgba(32, 41, 67, 0.3);
}

.btn-dark:hover, .btn-dark:focus, .btn-dark:active, .btn-dark.active, .btn-dark.focus {
  background-color: #101420 !important;
  border-color: #101420 !important;
  color: #ffffff !important;
}

.btn-muted {
  background-color: #003153 !important;
  border: 1px solid #003153 !important;
  color: #ffffff !important;
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 49, 83, 0.3);
          box-shadow: 0 3px 5px 0 rgba(0, 49, 83, 0.3);
}

.btn-muted:hover, .btn-muted:focus, .btn-muted:active, .btn-muted.active, .btn-muted.focus {
  background-color: #001320 !important;
  border-color: #001320 !important;
  color: #ffffff !important;
}

.btn-light {
  background-color: #f8f9fc !important;
  border: 1px solid #f8f9fc !important;
  color: #ffffff !important;
  -webkit-box-shadow: 0 3px 5px 0 rgba(248, 249, 252, 0.3);
          box-shadow: 0 3px 5px 0 rgba(248, 249, 252, 0.3);
}

.btn-light:hover, .btn-light:focus, .btn-light:active, .btn-light.active, .btn-light.focus {
  background-color: #d4daed !important;
  border-color: #d4daed !important;
  color: #ffffff !important;
}

.btn {
  padding: 8px 20px;
  outline: none;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 0.5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: 600;
  border-radius: 10px;
}

.btn:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

button:not(:disabled) {
  outline: none;
}

.shadow {
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15) !important;
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.15) !important;
}

.alert-primary {
  background-color: #e62541;
  color: #ffffff;
  border-color: #d81935;
}

.alert-primary .alert-link {
  color: #4f0913;
}

.alert-secondary {
  background-color: #283454;
  color: #ffffff;
  border-color: #202943;
}

.alert-secondary .alert-link {
  color: black;
}

.alert-link {
  background-color: #9db1be;
  color: #ffffff;
  border-color: #8ea5b4;
}

.alert-link .alert-link {
  color: #435866;
}

.alert-success {
  background-color: #3ed397;
  color: #ffffff;
  border-color: #2eca8b;
}

.alert-success .alert-link {
  color: #124d35;
}

.alert-warning {
  background-color: #f3833d;
  color: #ffffff;
  border-color: #f17425;
}

.alert-warning .alert-link {
  color: #753208;
}

.alert-info {
  background-color: #00406d;
  color: #ffffff;
  border-color: #003153;
}

.alert-info .alert-link {
  color: black;
}

.alert-danger {
  background-color: #e75566;
  color: #ffffff;
  border-color: #e43f52;
}

.alert-danger .alert-link {
  color: #79111d;
}

.alert-dark {
  background-color: #283454;
  color: #ffffff;
  border-color: #202943;
}

.alert-dark .alert-link {
  color: black;
}

.alert-muted {
  background-color: #00406d;
  color: #ffffff;
  border-color: #003153;
}

.alert-muted .alert-link {
  color: black;
}

.alert-light {
  background-color: white;
  color: #ffffff;
  border-color: #f8f9fc;
}

.alert-light .alert-link {
  color: #8d9dce;
}

.alert {
  padding: 8px 15px;
  border-radius: 10px;
}

.alert.alert-light {
  background-color: #f8f9fc;
  color: #202943;
  border-color: #dee2e6;
}

.alert .close {
  top: -5px;
  right: -10px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-size: 14px;
  font-weight: 700;
}

.form-group .form-control {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #dee2e6;
  height: 42px;
  font-size: 13px;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.form-group .form-control:focus, .form-group .form-control.active {
  border-color: #d81935;
}

.form-group textarea {
  height: 120px !important;
}

.form-group textarea.form-control {
  line-height: 25px;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: transparent;
  opacity: 1;
}

.form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #d81935;
}

.display-1 {
  font-size: 56px !important;
}

@media (max-width: 768px) {
  .display-1 {
    font-size: 36px !important;
  }
}

/*================================================
Base CSS (General)
=================================================*/
body {
  font-family: "Nunito", sans-serif;
  overflow-x: hidden !important;
  font-size: 16px;
  color: #161c2d;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "BryantPro", sans-serif;
  line-height: 1.5;
  font-weight: 600;
}

::-moz-selection {
  background: #e62541;
  color: #ffffff;
}

::selection {
  background: #e62541;
  color: #ffffff;
}

a {
  text-decoration: none !important;
}

p {
  line-height: 1.6;
}

/*================================================
Helper CSS (Section Components)
=================================================*/
.section {
  padding: 100px 0;
  position: relative;
}

.title-heading {
  line-height: 26px;
}

.title-heading .heading {
  font-size: 45px;
  letter-spacing: 1px;
}

.title-heading .para-desc {
  font-size: 18px;
}

.section-title {
  position: relative;
}

.section-title .main-title {
  font-size: 35px;
  letter-spacing: 0.8px;
}

.section-title .title {
  letter-spacing: 0.5px;
  font-size: 30px;
}

.section-title .bar {
  height: 4px;
  width: 85px;
  background: #d81935;
  margin: 20px auto 25px;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.section-title .bar::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 5px;
  background: #f8f9fc;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: MOVE-BG;
          animation-name: MOVE-BG;
}

@-webkit-keyframes MOVE-BG {
  from {
    -webkit-transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(85px);
  }
}

@keyframes MOVE-BG {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(85px);
            transform: translateX(85px);
  }
}

.para-desc {
  max-width: 600px;
}

.mt-100 {
  margin-top: 100px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mover {
  -webkit-animation: mover 1s infinite alternate;
          animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
}

@keyframes mover {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(45deg, #ffffff, #ffffff);
  z-index: 9999999;
}

#preloader #status {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#preloader #status .spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 100px auto;
}

#preloader #status .spinner .double-bounce1,
#preloader #status .spinner .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #d81935;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2s infinite ease-in-out;
          animation: sk-bounce 2s infinite ease-in-out;
}

#preloader #status .spinner .double-bounce2 {
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.social-icon li a {
  color: #202943;
  border: 1px solid #202943;
  display: inline-block;
  height: 32px;
  text-align: center;
  font-size: 15px;
  width: 32px;
  line-height: 30px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  overflow: hidden;
  position: relative;
  margin-bottom: -4px;
}

.social-icon li a:hover {
  background-color: #d81935;
  border-color: #d81935 !important;
  color: #ffffff !important;
}

.social-icon.social li a {
  color: #adb5bd;
  border-color: #adb5bd;
}

.back-to-top {
  width: 33px !important;
  height: 33px !important;
  line-height: 33px !important;
  color: #202943 !important;
  background-color: #ced4da !important;
  -webkit-transition: all 0.5s ease !important;
  transition: all 0.5s ease !important;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15) !important;
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.15) !important;
}

.back-to-top svg {
  width: 10px !important;
  -webkit-transition: all 0.5s ease !important;
  transition: all 0.5s ease !important;
}

.back-to-top:hover {
  background-color: #d81935 !important;
  color: #ffffff !important;
  -webkit-transform: rotate(45deg) !important;
          transform: rotate(45deg) !important;
}

.back-to-top:hover svg {
  -webkit-transform: rotate(-45deg) !important;
          transform: rotate(-45deg) !important;
  fill: #ffffff !important;
}

@media (max-width: 768px) {
  .section {
    padding: 60px 0;
  }
  .title-heading .heading {
    font-size: 35px !important;
  }
  .title-heading .para-desc {
    font-size: 18px;
  }
  .section-title .main-title {
    font-size: 28px;
  }
  .section-title .title {
    font-size: 24px;
  }
  .mt-60 {
    margin-top: 60px;
  }
}

/*================================================
Menu CSS
=================================================*/
#topnav {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1030;
  background-color: transparent;
  border: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#topnav .logo {
  float: left;
  color: #202943 !important;
}

#topnav img {
  max-height: 50px;
}

#topnav .navbar-toggle {
  border: 0;
  position: relative;
  width: 60px;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

#topnav .navbar-toggle .lines {
  width: 25px;
  display: block;
  position: relative;
  margin: 32px 20px 24px;
  height: 18px;
}

#topnav .navbar-toggle span {
  height: 2px;
  width: 100%;
  background-color: #202943;
  display: block;
  margin-bottom: 5px;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

#topnav .navbar-toggle span:last-child {
  margin-bottom: 0;
}

#topnav .buy-button {
  float: right;
  line-height: 68px;
  padding: 3px 0;
}

#topnav .navbar-toggle:hover, #topnav .navbar-toggle:focus,
#topnav .navbar-toggle .navigation-menu > li > a:hover, #topnav .navbar-toggle:focus {
  background-color: transparent;
}

#topnav .navigation-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

#topnav .navigation-menu > li {
  float: left;
  display: block;
  position: relative;
  margin: 0 10px;
}

#topnav .navigation-menu > li > a {
  display: block;
  color: #202943;
  font-size: 13px;
  background-color: transparent !important;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 24px;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-family: "BryantPro", sans-serif;
  padding-left: 15px;
  padding-right: 15px;
}

#topnav .navigation-menu > li > a:hover, #topnav .navigation-menu > li > a:active {
  color: #d81935;
}

#topnav .menu-extras {
  float: right;
}

#topnav.nav-sticky {
  background: #ffffff;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
}

.logo {
  font-weight: 700;
  font-size: 24px;
  padding: 3px 0;
  letter-spacing: 1px;
  line-height: 68px;
}

@media (min-width: 1200px) {
  #topnav .navigation-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #topnav .navigation-menu > li > a {
    padding-top: 25px;
    padding-bottom: 25px;
    min-height: 62px;
  }
  #topnav .navigation-menu > li:hover > .menu-arrow {
    border-color: #d81935;
  }
  #topnav .navigation-menu > li:hover > a,
  #topnav .navigation-menu > li.active > a {
    color: #d81935 !important;
  }
  #topnav .navbar-toggle {
    display: none;
  }
  #topnav #navigation {
    display: block !important;
  }
  #topnav.scroll {
    top: 0;
  }
  #topnav.scroll .navigation-menu > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media (max-width: 1200px) {
  #topnav {
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    min-height: 74px;
  }
  #topnav .container {
    width: auto;
  }
  #topnav .navigation-menu {
    float: none;
    max-height: 400px;
  }
  #topnav .navigation-menu > li {
    float: none;
  }
  #topnav .navigation-menu > li > a {
    color: #202943;
    padding: 10px 20px;
  }
  #topnav .navigation-menu > li > a:after {
    position: absolute;
    right: 15px;
  }
  #topnav .navigation-menu > li > a:hover {
    color: #d81935;
  }
  #topnav .menu-extras .menu-item {
    border-color: #003153;
  }
  #navigation {
    position: absolute;
    top: 74px;
    left: 0;
    width: 100%;
    display: none;
    height: auto;
    padding-bottom: 0;
    overflow: auto;
    border-top: 1px solid #f1f3f9;
    border-bottom: 1px solid #f1f3f9;
    background-color: #ffffff;
  }
  #navigation.open {
    display: block;
    overflow-y: auto;
  }
}

@media (min-width: 768px) {
  .navbar-toggle {
    display: block;
  }
}

@media (max-width: 375px) {
  #topnav .buy-button {
    display: none;
  }
  #topnav .navbar-toggle .lines {
    margin-right: 0 !important;
  }
}

/*================================================
Home CSS
=================================================*/
.home-center {
  display: table;
  width: 100%;
  height: 100%;
}

.home-desc-center {
  display: table-cell;
  vertical-align: middle;
}

.bg-home {
  height: 100vh;
  background-size: cover;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  background-position: center center;
}

.home-dashboard img {
  position: relative;
  margin-top: 5px;
  z-index: 1;
}

@media (max-width: 767px) {
  .bg-home {
    padding: 150px 0;
    height: auto;
  }
}

/*================================================
Solution CSS
=================================================*/
.feature-list li {
  margin-bottom: 5px;
  font-size: 15px;
}

.key-feature {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.key-feature .icon {
  height: 40px;
  width: 40px;
  line-height: 40px;
  background: #fbdce0;
  font-size: 24px;
}

.key-feature:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.key-feature .content .title {
  font-size: 18px;
}

/*================================================
Modal CSS
=================================================*/
.watch-video a.watch {
  font-size: 14px;
  font-weight: 700;
}

.watch-video a .play-icon-circle {
  height: 36px;
  width: 36px;
  background-color: #d81935;
  line-height: 36px;
}

.watch-video a .play-icon-circle.play-iconbar {
  font-size: 16px;
}

.watch-video a .play-icon-circle.play {
  top: 77%;
}

.bg-cta {
  padding: 75px 0;
}

.play-btn {
  height: 78px;
  width: 78px;
  font-size: 30px;
  line-height: 76px;
  border-radius: 50%;
  display: inline-block;
  color: #ffffff;
  border: 2px solid #ffffff;
}

.play-icon {
  position: absolute;
  bottom: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  right: 0;
  left: 0;
  text-align: center;
}

.play-icon i {
  height: 75px;
  -webkit-text-stroke: 2px #d81935;
  -webkit-text-fill-color: transparent;
  width: 75px;
  font-size: 25px;
  line-height: 75px;
  display: inline-block;
}

.play-icon i:hover {
  -webkit-text-stroke: 2px #d81935;
  -webkit-text-fill-color: #d81935;
}

/*================================================
Latest CSS
=================================================*/
.blog {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.blog .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.blog .content h4 {
  line-height: 1.2;
}

.blog .content .title {
  font-size: 20px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.blog .content .title:hover {
  color: #d81935 !important;
}

.blog .content .post-meta .like,
.blog .content .post-meta .readmore {
  font-size: 15px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.blog .content .post-meta .readmore:hover {
  color: #d81935 !important;
}

.blog .author {
  position: absolute;
  top: 5%;
  left: 5%;
  z-index: 1;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.blog:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.blog:hover .overlay {
  opacity: 0.4;
}

.blog:hover .author {
  opacity: 1;
}

/*================================================
Team CSS
=================================================*/
.team img {
  height: 200px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.team .team-name:hover {
  color: #d81935 !important;
}

.team .team-icon {
  position: absolute;
  bottom: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  right: 0;
  opacity: 0;
  left: 0;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.team:hover img {
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  opacity: 0.2;
}

.team:hover .team-icon {
  opacity: 1;
}

/*================================================
Contact CSS
=================================================*/
.contact-detail .icon img {
  height: 70px;
}

.contact-detail .content .title {
  font-size: 20px;
}

.form-group .icons {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 100px;
  font-size: 18px;
}

.map iframe {
  width: 100%;
  height: 400px;
}

@media (min-width: 768px) {
  .map.map-height-two iframe {
    height: 640px;
  }
}

/*================================================
Footer CSS
=================================================*/
.footer {
  background: #202943;
  padding: 60px 0;
  position: relative;
  color: #adb5bd;
}

.footer .logo-footer {
  color: #f8f9fc;
  font-weight: 700;
  font-size: 32px;
  padding: 3px 0;
  letter-spacing: 1px;
}

.footer.footer-bar {
  padding: 30px 0;
}

.footer.footer-bar .payment-cards img {
  height: 25px;
}

hr {
  margin-top: 0;
  margin-bottom: 0;
  border: 0;
  border-top: 1px solid #333744;
}

li.active > a {
  color: #d81935 !important;
}

a:hover {
  cursor: pointer;
}

.link a:hover {
  color: #8ea5b4 !important;
}

.grayed img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.grayed img:hover {
  -webkit-filter: none;
          filter: none;
}

.back-to-top {
  line-height: 31px !important;
}
/*# sourceMappingURL=style.css.map */